@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Potta+One&display=swap');
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;

}

*{
    color: rgb(0, 255, 0);
    font-family:"Potta One", system-ui;
    text-shadow: 0 0 50px rgb(0, 255, 0);


}

#title{
    font-size: 30px;

}

.container{
    width: 600px;
    height: 700px;
    border: solid 2px rgb(0, 255, 0);
    border-radius: 4px;
    margin: auto;
    box-shadow: 0 0 30px 1px rgb(0, 255, 0);
    display: none;

}

.List{
    width: 95%;
    height: 95%;
    margin: auto;
}

#Ask{
    border: solid 2px rgb(0, 255, 0);
    width: 450px;
    height: 300px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 30px 1px rgb(0, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Ask h2{
    text-align: center;

}

#solution{
    width: 75%;
    background-color: black;
    border: solid 2px rgb(0, 255, 0);
    border-radius: 30px;
    padding-left: 20px;
    height: 40px;
    box-shadow: 0 0 15px 1px rgb(0, 255, 0);
    outline: none;
    font-size: 20px;

}

#check{
    background-color: rgb(0, 255, 0);
    color: black;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0 0 7px 1px rgb(0, 255, 0);


}